*{
    background-color: rgb(125, 43, 202);
    
    
}
.square{
    width: 200px;
    height: 50x;
    background-color: white;
    box-shadow: 10px 10px rgb(170, 111, 193);
    border-radius: 30px;
    border: 1px solid;
    padding: 1px;


    
}
div:hover{
    background-color: black;
    color: rgb(242, 242, 244);
} 
div{
    color: rgb(125, 43, 202);
}

.blacks{
    width: 100px;
    height: 50x;
    background-color: black;
    box-shadow: 10px 10px rgb(170, 111, 193);
    margin: -10px;
   border-radius: 10px;
   float: left;
   box-shadow: rgb(249, 249, 249);
     

}
.blacks:hover{
    background-color: rgb(223, 134, 211);
    
}


.letters:hover{
  background-color:black; 
}

.square:hover{
    background-color: black;
}

.letters{
    float: right;
    margin: -30px;
}
